@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
}

.heading {
  height: 150px;
  background-color: #666;
  position: relative;
}

.heading h2 {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #fff;
  padding: 40px;
}

.todo-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.todo-input {
  margin: 50px 0;
  width: 400px;
  height: 40px;
  background-color: #fff;
  border: 1px solid;
}

.fa {
  margin-left: -30px;
  cursor: pointer;
  color: #666;
}

.fa-plus:before {
  content: "\f067";
  font-size: 1.5rem;
}

.fa-edit {
  margin: -30px;
}

.fa-trash-alt {
  margin-left: 50px;
}

.showItems {
  margin-top: 3rem;
  text-align: center;
}

.eachItem {
  padding: 10px 20px;
  border-radius: 10px;
  background: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #fff;
  width: 400px;
  margin: 10px;
}

.eachItem button {
  border-radius: 10px;
  width: 80px;
  height: 30px;
  border: none;
  background-color: #111;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
